/* Custom styles to enhance Tailwind */
.table-auto th {
    position: relative;
}
.table-auto th::after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.5em;
    vertical-align: middle;
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
    opacity: 0;
}
.table-auto th.sort-asc::after {
    opacity: 1;
    transform: rotate(180deg);
}
.table-auto th.sort-desc::after {
    opacity: 1;
}
input:focus {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}
button:focus {
    box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.3);
}